header{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}
table{
  width: 480px;
  margin-left: 400px;
  height: 480px;
  border-collapse: collapse;
}
button{
  margin-left: 250px;
}
